.form {
  width: 320px;
  margin-left: 20px;
}

.label {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.btn {
  border-color: transparent;
  border-radius: 5px;
  background-color: #487aa7;
  color: #fff;
  cursor: pointer;
}

.btn:hover,
.btn:focus {
  background-color: #4796d6;
}
